<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <input type="text" id="test01">
    <input type="text" id="test02">
    <p><%=msg%></p>
    <form action="" method="post" name="myform">
        <input type="hidden" id="test03" name="test03">
        <input type="hidden" id="test04" name="test04">
    </form>
    <button onclick="submit_form()">送信</button>

    <p id="text"></p>
    <button onclick="count()">push</button>
</body>

<script src="/javascripts/testprogram.js"></script>
<script>
    
    
</script>
</html>