.cards{
    box-shadow: 0 0 5px black;
}

.action_sentence{
    cursor: pointer;
}

.action_sentence:hover{
    border-radius: 5px;
    box-shadow: 0 0 5px grey;
}

#selectbox_wrapper{
    padding-top: 30px;
    width: 400px;
    height: 200px;
    margin: 20px auto;
    text-align: center;
}